Repository cesko-digital/zacni-ucit, pull requests merged in 2021-02, with the labels that each got.

#20 Drobne aktualizace
  backend/colleges/admin.py
  backend/colleges/migrations/0003_remove_faculty_town.py
  backend/colleges/models.py
  backend/common/views.py
Labels: backend

#24 Aktualizovany init
  README.md
  backend/init.py
  backend/qualifications/models.py
Labels: backend

#23 Preformatovana Python codebase
  .gitignore
  backend/.gitignore
  backend/colleges/admin.py
  backend/colleges/graphql/mutations.py
  backend/colleges/models.py
  backend/common/choices.py
  backend/common/management/commands/graph_sync.py
  backend/common/models.py
  backend/qualifications/models.py
  backend/qualifications/temp.py
  backend/teaching/models.py
  backend/teaching/temp.py
  backend/zacniucit/ogm_example.py
  backend/zacniucit/schema.py
  backend/zacniucit/urls.py
  data_import/sql_to_neo4j/database_importer.py
  pyproject.toml
  scrapers/courses/items.py
Labels: backend

#21 Black
  .github/workflows/check.yml
  backend/qualifications/models.py
Labels: backend

#16 Pull requesty pravidla
  .gitignore
  CONTRIBUTING.md
  docs/Texty k ES.txt
  frontend/zacniucit-fe.iml
Labels: documentation

#26 Code style docka
  CONTRIBUTING.md
Labels: documentation

#27 Konfigurace ALLOWED_HOSTS pres ENV promenne
  backend/.env.sample
  backend/zacniucit/settings.py
Labels: backend

#32 Oprava odkazu na Neo4j
  backend/common/views.py
Labels: backend, bug

#34 Drobnosti pro Added Custom User Model (PR#28)
  README.md
  backend/accounts/models.py
  backend/common/management/commands/graph_sync.py
Labels: backend

#35 School subtypes
  backend/init.py
  backend/teaching/admin.py
  backend/teaching/migrations/0003_schoolsubtype.py
  backend/teaching/models.py
  backend/teaching/temp.py
Labels: backend

#36 Aktualizace modelu Qualification.EducationType
  backend/init.py
  backend/qualifications/admin.py
  backend/qualifications/migrations/0003_auto_20210227_1448.py
  backend/qualifications/migrations/0004_auto_20210227_1547.py
  backend/qualifications/models.py
  backend/qualifications/temp.py
Labels: backend
